@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$primary-color-soft-blue: hsl(215, 51%, 70%);
$primary-color-cyan: hsl(178, 100%, 50%);

$neutral-color-main-bg: hsl(217, 54%, 11%);
$neutral-color-card-bg: hsl(216, 50%, 16%);
$neutral-color-line-bg: hsl(215, 32%, 27%);
$neutral-color-white: hsl(0, 0%, 100%);

$paragraph-font-size: 18px;
$main-font-family: 'Outfit', sans-serif;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

// $mobile-screen-breakpoint: 375px;
// $desktop-screen-breakpoint: 1440px;